@import url(https://fonts.googleapis.com/css?family=Baloo+Thambi);
.welcome{
    text-align: center;
    background-color: rgb(250, 245, 245);
}
.text-container>span{
    padding: 2px;
    font-family: "Baloo Thambi", cursive;
    font-size: 4rem;
    text-transform: uppercase;
    animation: glow 3s ease-in-out infinite;
    animation-delay:var(--delay) ;
}
@keyframes glow{
    0%, 
    100% {
        color: var(--color);
        text-shadow: 0 0 10px #0652dd, 0 0 50px #0652dd, 0 0 100px #0652dd;
    }
    10%,
    90%{
        color: #111;
        text-shadow: none;
    }
}